.hoome{
    margin:200px;
    padding:30px;
    text-align: center;
    background-color: #75B54F;
    border-radius: 50000px;
}
.headin{
    font-size: 60px;
    font-weight: bold;
}
.text_home{
    font-size: large;
    margin:30px 90px;
}